footer {
  background-color: #1a1a1a; /* Dark background for a professional look */
  color: white;
  text-align: center;
  padding: 40px 20px; /* Space above and below the text */
  position: relative;
  overflow: hidden;
}

/* Styling for the copyright text */
.footer-content {
  font-family: "Georgia", "Times New Roman", serif; /* Formal serif font */
  font-size: 14px;
}

.copyright {
  margin: 0;
  font-size: 16px;
  color: #a3a3a3; /* Light gray for contrast but not too bright */
}

/* Space/Astronomy Touches: Animated stars */
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("Assets/4k-star-xqucvtp2ojwqmbbz.webp") no-repeat center
    center;
  background-size: cover;
  opacity: 0.2;
}

.footer-content p {
  bottom: 8rem;
  position: relative;
  left: 2rem;
}

.container {
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #0b0c10;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  align-items: center;
}
.form-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

select,
button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #2b3d53;
  color: white;
  font-family: monospace;
  font-weight: bolder;
}

select {
  flex: 1;
}

button {
  width: 14%;
  cursor: pointer;
}


.error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 302px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 50px;
  background: -webkit-linear-gradient(to right, #f45c43, #eb3349);
  background: linear-gradient(to right, #f45c43, #eb3349);
  box-shadow: 0 0px 10px #de1c3280;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
  filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
  filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}

.error__close path {
  fill: #fff;
}

.error__close svg,
.error__close path {
  pointer-events: none;
}

/* Sucess alert */
.success {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 302px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #84d65a;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.success__icon path {
  fill: #393a37;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #393a37;
}

.success__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.success__close path {
  fill: #393a37;
}
